header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
}

header .log {
    width: 142px;
    height: 60px;
    background: url("../images/log.png");
    padding-left: auto;
}
